# Logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# IDE directory
.vscode
.idea

# Temporary files
public/~assets/*

# Test files
/test.*

# System files
.DS_Store